[submodule "modules/arch-install-scripts"]
	path = modules/arch-install-scripts
	url = https://gitlab.archlinux.org/archlinux/arch-install-scripts
[submodule "modules/apk-tools"]
	path = modules/apk-tools
	url = https://git.alpinelinux.org/apk-tools
[submodule "modules/abuild"]
	path = modules/abuild
	url = https://git.alpinelinux.org/abuild
[submodule "modules/aports"]
	path = modules/aports
	url = https://git.alpinelinux.org/aports/
[submodule "modules/bash-util"]
	path = modules/bash-util
	url = https://github.com/targetdisk/bash-util
